/** @format */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  /* --bg-color: #f6f6f6; */
  --color-gray-100: #fafafa;
  --color-blue-600: hsl(214, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);
}

.selected {
  /* border: 1px solid red; */
  background-color: #008000;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
button {
  white-space: nowrap;
  cursor: pointer;
  /* border: none; */
}
button:hover {
  /* background-color: #f1f1f1; */
}
select {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0.125rem;
  font-size:14px;
  color: gray;
}
