/** @format */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  /* --bg-color: #f6f6f6; */
  --color-gray-100: #f1f2f3;
  --color-gray-200: #575c60;
  --color-blue-600: hsl(214, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);
  --color-green-500: #18864b;
  --color-yellow-100: #f4ffc1;
  --color-red-500: #ff0000;
  --color-orange: #f7c87a;
}

/* 'yellow': {
    '50': '#fbffe7',
    '100': '#f4ffc1',
    '200': '#eeff86',
    '300': '#ecff41',
    '400': '#f2ff0d',
    '500': '#ffff00',
    '600': '#d1bf00',
    '700': '#a68b02',
    '800': '#896c0a',
    '900': '#74580f',
    '950': '#443004',
}, */

/* 'alabaster': {
    '50': '#fafafa',
    '100': '#efefef',
    '200': '#dcdcdc',
    '300': '#bdbdbd',
    '400': '#989898',
    '500': '#7c7c7c',
    '600': '#656565',
    '700': '#525252',
    '800': '#464646',
    '900': '#3d3d3d',
    '950': '#292929',
}, */

.selected {
  /* border: 1px solid red; */
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
#option-wrapper button {
  flex: 1;
}
button {
  white-space: nowrap;
  cursor: pointer;
  /* border: none; */
}
button:hover {
  /* background-color: #f1f1f1; */
}
select {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0.125rem;
  font-size: 14px;
  color: gray;
}
